@import "resets.css";

:root {

}
body {
    background-color: black;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.nav-img {
    width: 40px;
}

#hero-about {
    width: 50%;
    margin-top: 10%;
    margin-left: 15%;
    color: white;
}

#myName {
    color: #ac63f1;
}

#hero-btn {
    background-image: linear-gradient(45deg, #3209D6, #741AE8, #B72BF9);
    border-style: none;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 50px;
    color: white;
    transition: ease 0.6s;
    opacity: 0.6;
}

#hero-btn:hover {
    opacity: 1;
    width: 125px;
    content: "Let's work!"
}

h3 {
    color: white;
    margin-left: 100px;
    margin-top: 50px;
}

hr {
    color: white;
}

.card {
    background-color: transparent;
    color: white;
    margin-top: 50px;
    transition: 0.6s;
}

.card:hover {
    transform: scale(1.1);
}

.card-btn {
    background-color: transparent;
    color: #B773FB;
    padding: 0;
}
