@import "resets.css";


:root {
--accent: #090909;
}
body {
    background-color: #ffffff;
    font-family: Arial;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    padding: 0px;
}

.navbar-list a {
    text-decoration: none;
    color: black;
    transition: ease 0.6s;
}

.navbar-list a:hover {
    color: #969595

}

.row {
    width: 100%;
    display: flex;

}

.about-me {
    width: 700px;
    margin-top: 200px;
    padding-bottom: 100px;
    justify-content: center;

}

#music {
    background: transparent;
    border-style: none;
    font-weight: bold;
    transition: 0.6s;
}

#music:hover {
    color: #a76dec;
}

