@import "resets.css";
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
--accent: #090909;
}
body {
    background-color: #ffffff;
    font-family: Raleway;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-weight: bold;
    font-size: 25px;
}

.navbar-list a {
    text-decoration: none;
    color: black;
    transition: ease 0.6s;
}

.navbar-list a:hover {
    color: #969595

}

#introduction {
    color: #626161;
    font-weight: bold;
    font-size: 30px;
}

#who {
    font-size: 70px;
    font-weight: bold;
    line-height: 80px;
}

#hero-about {
    width: 70%;
    margin-top: 100px;
    margin-left: 15%;
    color: #090909;
}
#work-arrow {
    z-index: 1;
    position: absolute;
    right: 600px;
    top: 350px;

}

#hero-btn {
    background-color: var(--accent);
    border-style: none;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    font-size: 12px;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 40%;
    color: #fffefe;
    transition: ease 0.6s;

}

#hero-btn:hover {
    width: 155px;
    content: "Let's work!";
    background-color: #6cecc1;
    color: black;
}

h3 {
    color: #090909;
    margin-left: 100px;
    margin-top: 50px;
}

hr {
    color: #090909;
}

.section-header {
    font-size: 50px;
    font-weight: bold;
    margin-left: 40%;
    padding-bottom: 50px;
}

.project-img {
    border: transparent 1px;
    border-radius: 20px;
}

.project-title {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}

.project-desc {
    color: #868686;
}
